.all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    background: #FFFFFF;
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.05);
}

.img {
    width: 8rem;
    height: 1.6rem;
}

.links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    cursor:default
}

.text {
    font-size: 18px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.imgP {
    width: 2rem;
    height: 2rem;
}